*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-wrap: wrap;
}

header{
    text-align: center;
    background-color: blueviolet;
    width: 100%;
    min-height: 300px
}

nav{
    text-align: center;
    background-color: lightcoral;
    width: 100%;
    min-height: 300px
}

main{
    text-align: center;
    background-color: lightgreen;
    width: 60%;
    min-height: 300px
}

aside{
    background-color: lightblue;
    width: 40%;
    min-height: 300px
}


footer{
    width: 100%;
    background-color: lightsalmon;
}
