*{
    margin: 0;
    padding: 0;
}
body{
display: flex;
flex-wrap: wrap;
}

header{
justify-content: center;
background-color: blueviolet;
width: 100%;
}

nav{
justify-content: center;
background-color: lightcoral;
width: 100%;
}

main{
justify-content: center;
background-color: lightgreen;
width: 60%;
}

aside{
    background-color: lightblue;
    width: 40%;
}


footer{
    width: 100%;
    background-color: lightsalmon;
}
